:root {
  --primary-color: #7c98b3;
  --secondary-color: #b6be9c;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

/* Navbar */

.navbar {
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr;
  align-items: center;
  margin: 30px;
}

h1 {
  font-size: 2rem;
  margin-left: 35px;
  /* color: var(--primary-color); */
}

/* Main */

#main {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 25px;
  margin-top: 100px;
}

.albums-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

/* Sidebar */

.sidebar p {
  margin: 20px 10px;
}
